*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 10px 5px;
    position: relative;
}

a {
    text-decoration: none;
    color: #8a153a;
    position: relative;
    overflow: hidden;
}

a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #8a153a;
    transition: width 0.5s;
    transform-origin: left;  /* Set the transform origin to the left for the appearing effect */
}

a:hover::before {
    width: 100%;
}
